@font-face {
    font-family: "MyJournalFont";
    src: url("/atelier-sass-le-journal-du-web/font/AlfaSlabOne-Regular.ttf");
}


* {
    margin: 0;
}

// Mixin pour les media queries
// @mixin


body {
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

hr {
    margin-top: 0.5em;
}

.alignage-journalweb {
    display: flex;
    justify-content: end;

    .journalweb {
        width: 15%;
        text-align: right;
    }

    .text-journal {
        text-transform: lowercase;
    }
}





nav {
    font-family: "MyJournalFont";
    border: 5px solid green;
    display: flex;

    .logo>img {
        height: 250px;
        width: 250px;
    }

    .titles {
        margin: 30px;
    }

    h1 {
        color: #50524f;
    }

}

.white-text {
    color: #f8f9f8;
    background-color: black;
    text-transform: uppercase;
}


h2,
h3 {
    border-radius: 5px;
    padding: 0.5rem;
}



section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 5em;
    height: 100vh;

    .container__card {
        border: 1px solid lightgrey;
        box-shadow: 3px 1px 3px 3px black;
        margin-top: 2em;
        width: 25%;
        padding: 0.5em;
        height: 70vh;
    }

    .container__card--cadre {
        text-align: center;

    }

}

.centrage-text-cadre {
    display: flex;
    justify-content: center;

    .text-cadre {
        border: 2px solid black;
        width: 50%;
        color: #f8f9f8;
        background-color: #e34f43;
        padding: 0.2em;
    }
}



.alignement-button {
    display: flex;
    justify-content: end;

    button {
        border: 1px solid #5b1b02;
        background-color: #5b1b02;
        border-radius: 5px;
        color: #f8f9f8;
        display: flex;
        align-items: center;
    }

    .triangle {
        font-size: 2em;
        margin-left: 5px;
    }
}


button:hover {
    opacity: 70%;
}

button:active {
    transform: translateY(0.1em);
}



footer {
    text-align: center;
    padding: 2em;
    background-color: #010125;
    color: #f8f9f8;
}