// On utilise le use pour ajouter notre typographie ou les mixin
@use "typo";
@use "mixin";

$mobile : 800px;

* {
    margin: 0;
}

body {
    background-image: url(../images/fond.webp);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 100%;
}

hr {
    margin-top: 0.5em;
}

.alignage-journalweb {
    display: flex;
    justify-content: end;

    .journalweb {
        width: 15%;
        text-align: right;

        @media (max-width: $mobile) {
            width: auto;
        }
    }

    .text-journal {
        text-transform: lowercase;
    }
}

nav {
    font-family: "AlfaSlobOne";
    display: flex;

    .logo>img {
        height: 15rem;
        width: 15rem;
        margin: 1em;

        @media (max-width: $mobile) {
            height: 7rem;
            width: 7rem;
            margin: 0;
        }
    }

    .titles {
        margin: 1em;
        font-size: 1.5em;

        @media (max-width: $mobile) {
            font-size: 0.8em;
        }

        & h1,
        h2,
        h3 {
            margin: 0.5em;
        }
    }

    h1 {
        color: #50524f;
    }

}

.white-text {
    color: #f8f9f8;
    background-color: black;
    text-transform: uppercase;
}

h2,
h3 {
    border-radius: 5px;
    padding-top: 0.5rem;

}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: $mobile) {}
}

.container {
    display: flex;
    justify-content: center;
    gap: 5em;
    width: 100%;
    padding-bottom: 2em;

    @media (max-width: $mobile) {

        display: block;
        width: 100%;
    }

    .container__card {
        border: 1px solid lightgrey;
        box-shadow: 3px 1px 3px 3px black;
        margin-top: 2em;
        width: 25%;
        padding: 0.5em;
        background: linear-gradient(90deg, rgba(229, 219, 218, 1) 0%, rgba(211, 201, 200, 1) 50%, rgba(186, 176, 177, 1) 100%);

        // Pour empecher le texte de dépasser de la box
        overflow: auto;

        @media (max-width: $mobile) {
            width: auto;
            height: auto;
            margin: 2em 2em 2em 2em;
        }
    }

    & h3 {
        font-size: 2em;
        padding: 1rem;

        @media (max-width: $mobile) {
            font-size: 1.5em;
            text-align: center;
        }
    }

    .container__card--cadre {
        text-align: center;
    }

}

.centrage-text-cadre {
    display: flex;
    justify-content: center;

    .text-cadre {
        border: 2px solid black;
        width: 50%;
        color: #f8f9f8;
        background-color: #e34f43;
        padding: 0.2em;
        margin-bottom: 1em;
    }
}

.corp {
    font-size: 2em;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;

    @media (max-width: $mobile) {
        text-align: justify;
        font-size: 2em;
    }
}


.alignement-button {
    display: flex;
    justify-content: end;

    button {
        border: 1px solid #5b1b02;
        background-color: #5b1b02;
        border-radius: 5px;
        color: #f8f9f8;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .triangle {
        font-size: 2em;
        margin-left: 5px;
    }
}

.triangle {
    @include mixin.triangle;

}


button:hover {
    opacity: 70%;
}

button:active {
    transform: translateY(0.1em);
}

footer {
    text-align: center;
    padding: 2em;
    background-color: #010125;
    color: #f8f9f8;
}